<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/layout::header"></head>
<body>
<form th:action="@{/product/save}" th:object="${product}" method="post">
    <div>
        <label for="name">Name Product:</label>
        <input id="name" type="text" th:field="*{productName}">
    </div>
    <div>
        <label>Price Product:</label>
        <select th:field="*{productPrice}">
            <option th:each="i : ${#numbers.sequence(1, 100)}" th:value="${i}" th:text="${i}">
            </option>
        </select>
    </div>
    <div>
        <label for="company">Company's Product:</label>
        <input id="company" type="text" th:field="*{productCompany}">
    </div>
    <input style="color: red" type="submit" value="Create" >

</form>
</body>
</html>