<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/customer/layout :: head"></head>
<body>
<div th:replace="/customer/layout :: navbar"></div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Customer Code</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Birthday</th>
        <th scope="col">Gender</th>
        <th scope="col">ID Card</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Customer Type</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customer}">
        <td th:text="${customer.customerCode}"></td>
        <td th:text="${customer.customerName}"></td>
        <td th:text="${customer.customerBirthday}"></td>
        <td th:if="${customer.gender==0}" th:text="Female"></td>
        <td th:if="${customer.gender==1}" th:text="Male"></td>
        <td th:if="${customer.gender==2}" th:text="LGBT"></td>
        <td th:text="${customer.idCard}"></td>
        <td th:text="${customer.phoneNumber}"></td>
        <td th:text="${customer.customerEmail}"></td>
        <td th:text="${customer.customerAddress}"></td>
        <td th:text="${customer.customer_type.customerType}"></td>
        <td>
            <a th:href="@{/customer/edit/{id}(id=${customer.id})}"/>
            <button class="btn btn-primary" type="button">Edit
            </button>
            </a>
        </td>
        <td>
            <button th:onclick="|onDelete('${customer.id}')|" type="button" class="btn btn-primary btn-lg"
                    data-toggle="modal" data-target="#modalDelete">
                Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{'/customer'(page = ${customer.number - 1})}"
       th:if="${customer.hasPrevious()}">Previous Page</a>
    <span th:text="${customer.number + 1}"></span> / <span th:text="${customer.totalPages}"></span>
    <a th:href="@{'/customer'(page = ${customer.number + 1})}"
       th:if="${customer.hasNext()}">Next Page</a>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you want to delete?
            </div>
            <div class="modal-footer">
                <form action="/customer/delete" method="get">
                    <input type="hidden" id="idCustomer" name="id">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal SEARCH -->
<div class="modal fade" id="modalSearch" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Searching Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/customer/search" method="get">
                <label>Customer Name</label>
                <input type="text" name="customerNameSearch" >
                <br>
                <label>Gender</label>
                <select name="genSearch">
                    <option value="">None</option>
                    <option value="0">Female</option>
                    <option value="1">Male</option>
                    <option value="2">LGBT</option>
                </select>
                <br>
                <label>Type of customer</label>
                <select name="typeCustomer">
                    <option value=""></option>
                    <option th:each="type : ${customerTypeList}" th:text="${type.customerType}"
                            th:value="${type.id}"></option>
                </select>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<div th:replace="/customer/layout :: script"></div>
<script>
    function onDelete(id) {
        document.getElementById("idCustomer").value = id;
        alert(id)
    }

    function onSearch() {
        let a = document.getElementById("select").value;
        document.getElementById("idSearch").value = a;
    }

    $(document).ready(function () {
        $('#tableCustomer').dataTable({
            "dom": 'lrtip',
            "lengthChange": false,
            "pageLength": 5
        });
    });

    $('#exampleModal').on('show.bs.modal', event => {
        var button = $(event.relatedTarget);
        var modal = $(this);
    });
</script>
</body>
</html>