<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Management</title>
</head>
<body>
<a href="?lang=vi">Vietnamese</a>
<a href="?lang=en">English</a>
<h1 th:text="#{customer.list}">Customer List:</h1>
<table>
    <tr>
        <th>ID</th>
        <th th:text="#{customer.name}">Customer Name</th>
        <th th:text="#{customer.phoneNumber}">Phone Number</th>
    </tr>
    <tr th:each="customer : ${customer}">
        <td th:text="*{customer.id}"></td>
        <td th:text="*{customer.name}"></td>
        <td th:text="*{customer.phoneNumber}"></td>
    </tr>
</table>
</body>
</html>