<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  th:replace="/contract/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="/contract/layout :: navbar"></div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Deposit</th>
        <th scope="col">Total Money</th>
        <th scope="col">Employee</th>
        <th scope="col">Customer</th>
        <th scope="col">Service</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ct : ${contract}">
        <td th:text="${ct.id}"></td>
        <td th:text="${ct.startDate}"></td>
        <td th:text="${ct.endDate}"></td>
        <td th:text="${ct.deposit}"></td>
        <td th:text="${ct.totalMoney}"></td>
        <td th:text="${ct.employee.employeeName}"></td>
        <td th:text="${ct.customer.customerName}"></td>
        <td th:text="${ct.service.serviceName}"></td>
        <td>
            <a th:href="@{/contract/edit/{id}(id=${ct.id})}"/>
            <button class="btn btn-primary" type="button">Edit
            </button>
            </a>
        </td>
        <td>
            <button th:onclick="|onDelete('${ct.id}')|"  type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalDelete">
                Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>

<!-- Modal DELETE-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deleting Contract</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure to delete?
            </div>
            <div class="modal-footer">
                <form action="/contract/delete" method="get">
                    <input type="hidden" id="idContract" name="id">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a th:href="@{'/contract'(page = ${contract.number - 1})}"
       th:if="${contract.hasPrevious()}">Previous Page</a>
    <span th:text="${contract.number + 1}"></span> / <span th:text="${contract.totalPages}"></span>
    <a th:href="@{'/contract'(page = ${contract.number + 1})}"
       th:if="${contract.hasNext()}">Next Page</a>
</div>
<script>
    function onDelete(id) {
        document.getElementById("idContract").value = id;
    }
    function onSearch() {
        let a = document.getElementById("select").value;
        document.getElementById("idSearch").value = a;
    }

    $(document).ready(function () {
        $('#tableCustomer').dataTable({
            "dom": 'lrtip',
            "lengthChange": false,
            "pageLength": 5
        });
    });

    $('#exampleModal').on('show.bs.modal', event => {
        var button = $(event.relatedTarget);
        var modal = $(this);
    });
</script>

<div th:replace="/contract/layout :: script"></div>
</body>
</html>