<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/service/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="/service/layout :: navbar"></div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Service Code</th>
        <th scope="col">Sevice Name</th>
        <th scope="col">Service Area</th>
        <th scope="col">Service Cost</th>
        <th scope="col">Max People</th>
        <th scope="col">Rent Type</th>
        <th scope="col">Service Type</th>
        <th scope="col">Standard Room</th>
        <th scope="col">Description</th>
        <th scope="col">Pool Area</th>
        <th scope="col">Number Of Floor</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="service : ${service}">
        <td th:text="${service.serviceCode}"></td>
        <td th:text="${service.serviceName}"></td>
        <td th:text="${service.serviceArea}"></td>
        <td th:text="${service.serviceCost}"></td>
        <td th:text="${service.serviceMaxPeople}"></td>
        <td th:text="${service.rent_type.rentTypeName}"></td>
        <td th:text="${service.service_type.serviceTypeName}"></td>
        <td th:text="${service.standardRoom}"></td>
        <td th:text="${service.description}"></td>
        <td th:text="${service.poolArea}"></td>
        <td th:text="${service.numberFloor}"></td>
        <td>
            <a th:href="@{/service/edit/{id}(id=${service.id})}"/>
            <button class="btn btn-primary" type="button">Edit
            </button>
            </a>
        </td>
        <td>
            <a th:href="@{/service/delete/{id}(id=${service.id})}"/>
            <button class="btn btn-primary" type="button">Delete
            </button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{'/service'(page = ${service.number - 1})}"
       th:if="${service.hasPrevious()}">Previous Page</a>
    <span th:text="${service.number + 1}"></span> / <span th:text="${service.totalPages}"></span>
    <a th:href="@{'/service'(page = ${service.number + 1})}"
       th:if="${service.hasNext()}">Next Page</a>
</div>




<div th:replace="/service/layout :: script"></div>
</body>
</html>