<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/customer/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="/customer/layout :: navbar"></div>
<h1 align="center">UPDATE CUSTOMER FORM</h1>
<div align="center">
    <form th:action="@{/customer/update}" th:object="${customerDto}" method="post">
        <div style="color: red" th:i="${message}" th:text="${message}"/>
        <table border="1" cellpadding="5">
            <tr>
                <input type="hidden" th:field="*{id}" th:value="*{id}">
            </tr>
            <tr>
                <th>Customer Code</th>
                <td>
                    <input type="text" id="customerCode" th:field="*{customerCode}" size="15"/>
                </td>
                <td style="color: red" th:if="${#fields.hasErrors('customerCode')}" th:errors="*{customerCode}"></td>
            </tr>
            <tr>
                <th>Customer Name:</th>
                <td>
                    <input type="text" th:field="*{customerName}" id="name" size="45" required/>
                </td>
                <td style="color: red" th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}"></td>
            </tr>
            <tr>
                <th>Customer Birthday:</th>
                <td>
                    <input type="date" th:field="*{customerBirthday}" id="birthday" size="45" />
                </td>
            </tr>
            <tr>
                <th>Gender:</th>
                <td>
                    <input type="radio" th:field="*{gender}" name="gender" value="0" size="15"/>Female
                    <input type="radio" th:field="*{gender}" name="gender" value="1" size="15"/>Male
                    <input type="radio" th:field="*{gender}" name="gender" value="2" size="15"/>LGBT
                </td>
            </tr>
            <tr>
                <th>Customer ID Card:</th>
                <td>
                    <input type="text" th:field="*{idCard}" id="idCard" size="45" required/>
                </td>
                <td style="color: red" th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}">ID Card Error</td>
            </tr>
            <tr>
                <th>Customer Number Phone:</th>
                <td>
                    <input type="text" th:field="*{phoneNumber}" id="phone" size="45" required/>
                </td>
                <td style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone Number Error</td>
            </tr>
            <tr>
                <th>Customer Email:</th>
                <td>
                    <input type="text" th:field="*{customerEmail}" id="email" size="45" required/>
                </td>
                <td style="color: red" th:if="${#fields.hasErrors('customerEmail')}" th:errors="*{customerEmail}">Phone Number Error</td>
            </tr>
            <tr>
                <th>Customer Address:</th>
                <td>
                    <input type="text" th:field="*{customerAddress}" id="address" size="45" required/>
                </td>
            </tr>
            <tr>
                <th>Customer Type:</th>
                <td>
                    <select th:field="*{customer_type}" class="form-select" name="customer_type_id"
                            aria-label="Default select example" required>
                        <option th:each="type : ${customerTypeList}" th:text="${type.customerType}"
                                th:value="${type.id}"></option>
                        </th:each>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input class="bg-success" type="submit" value="Update"/>
                </td>
            </tr>
        </table>
    </form>
</div>
<div th:replace="/customer/layout :: script"></div>
</body>
</html>