<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/blog/create}"> Add New Blog</a>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Head</th>
        <th>Content</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="blog : ${blogList}">
        <td th:text="${blog.id}"></td>
        <td th:text="${blog.blogTitle}"></td>
        <td th:text="${blog.bloghead}"></td>
        <td th:text="${blog.blogcontent}"></td>
        <td>
            <a th:href="@{/blog/edit/{id}(id=${blog.id})}"/>
            <button class="btn btn-primary" type="button">Edit
            </button>
            </a>
        </td>
        <td>
            <a th:href="@{/blog/delete/{id}(id=${blog.id})}"/>
            <button class="btn btn-primary" type="button">Delete
            </button>
            </a>
        </td>
    </tr>
</table>
</body>
</html>